body {
    background-color: #f2f2f2;
}

.btn-custom {
  padding: 5px 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-custom.active {
  border-color: rgba(0, 123, 255, 0.3);
  border-width: 3px;
}
.btn-custom:focus{
  box-shadow: none;
}

.btn-custom span {
  font-size: 0.8rem;
}

.stencil-font {
  font-family: 'Stencil', sans-serif;
  font-size: 44px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .stencil-font img {
    width: 25px;
  }
}

.risultato-partita {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}
.dettagli-partita {
  text-align: center;
}

.campo-stadio {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.risultato {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.marcatori {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
}

.elenco-marcatori {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.elenco-marcatori li {
  margin-bottom: 5px;
}

.nero {
  color: #000;
  font-weight: bold;
}

.bianco {
  color: #fff;
  background-color: #ccc;
  padding: 2px 6px;
  border-radius: 5px;
}